@{
    ViewBag.Title = "Assign Lesson";
}

<h2>Assign Lesson to Instructor</h2>

<form asp-action="AssignLesson" method="post">
    <label>Student:</label>
    <select name="studentId">
        @foreach (var s in ViewBag.Students)
        {
            <option value="@s.Id">@s.Name (@s.IDNumber)</option>
        }
    </select><br /><br />

    <label>Instructor:</label>
    <select name="instructorId">
        @foreach (var i in ViewBag.Instructors)
        {
            <option value="@i.Id">@i.Name</option>
        }
    </select><br /><br />

    <label>Lesson Package:</label>
    <select name="packageId">
        @foreach (var p in ViewBag.Packages)
        {
            <option value="@p.Id">@p.Name (@p.Price)</option>
        }
    </select><br /><br />

    <input type="submit" value="Assign Lesson" />
</form>

